

1.   Unordered data
2.   different data types in python like integer, string, float, tuple, etc.
3.   remove duplicate data or items from a list
4.   union and intersection between two sets
5.   You can not store built-in data structures (like list, dictionary, set, etc.) inside a set except tuple.
6.   Mutable - add or delete

#Create set

In [1]:
set1 = {1,2,3,4,'five',(1,3,5,7)}
print(set1)

{1, 2, 3, 4, (1, 3, 5, 7), 'five'}

In [2]:
print(type(set1))

<class 'set'>

In [6]:
set2 = {{'name':'premanand','age':35}, [5,4]}
print(set2)

TypeError: ignored

#Empty set

In [7]:
my_set1 = set()
print(my_set1)
print(type(my_set1))

set()

In [9]:
my_set2 = {}
print(my_set2)
print(type(my_set2))

{}
<class 'dict'>

#Manipulation

In [10]:
my_set3 = set()
print(my_set1)

my_set3.add(1)
my_set3.add(3)
my_set3.add(5)
my_set3.add('python')
my_set3.add(5.3)

print(my_set3)

set()
{1, 3, 5.3, 5, 'python'}

In [11]:
set4 = {1,2,3,4,'five',(1,3,5,7)}
print(set4)

set4.remove((1,3,5,7))
print(set4)

set4.remove('five')
set4.remove(1)
set4.remove(2)
print(set4)

set4.remove(3)
set4.remove(4)
print(set4)

{1, 2, 3, 4, (1, 3, 5, 7), 'five'}
{1, 2, 3, 4, 'five'}
{3, 4}
set()

#With loops

In [12]:
set2 = {1, 3, 5, 5.3, 'python'}
for i in set2:
    print(i)

1
3
5.3
5
python

#union & intersection

In [13]:
s1 = {1,2,3}
s2 = {3,4,5,6,7,8,9}

print('s1 = ',s1)
print('s2 = ',s2)

print('union = ',s1.union(s2))
print('intersection = ',s1.intersection(s2))

s1 =  {1, 2, 3}
s2 =  {3, 4, 5, 6, 7, 8, 9}
union =  {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection =  {3}

In [14]:
s1 = {1,2,3}
s2 = {3,4,5,6,7,8,9}

print('s1 = ',s1)
print('s2 = ',s2)

s3 = s1 | s2
print('union = ',s3)

s4 = s1 & s2
print('intersection = ',s4)

s1 =  {1, 2, 3}
s2 =  {3, 4, 5, 6, 7, 8, 9}
union =  {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection =  {3}

#Removing duplicate

In [15]:
l1 = [1,1,2,3,4,2,5,6,7,5,4]
print(list(set(l1)))

[1, 2, 3, 4, 5, 6, 7]